@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');

$primaryColor: #fffffe;
$secondaryColor: #e53170;
$tertiaryColor: #f25f4c;
$backgroundColor: #0f0e17;
$primaryFont: 'Caveat', cursive;
$secondaryFont: 'Roboto', sans-serif;

form {
    display: flex;
    justify-content: center;
}

label {
    font-family: $primaryFont;
    font-size: 2rem;
}

input[type='text'] {
    display: block;
    border-bottom: 1px solid $secondaryColor;
}

